@font-face {
    font-family: 'font1';
    src: url('/font1.woff2') format('truetype');
}

body {
    background-color: rgb(52, 54, 53);
    width: 1200px;
    margin: 0 auto;
}

button {
    text-align: center;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: rgba(236, 236, 236, 0.842);
}

a:hover {
    color: white;
}

.hidden {
    display: none;
}

.logo{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 3px;
    left: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* heaven */
.heaven {
    background-color: rgb(74, 80, 80);
    position: fixed;
    z-index: 1;
    top: -1px;
    height: 50px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.heaven-button {
    position: relative;
    font-family: "font1", sans-serif;
    font-size: 25px;
    cursor: pointer;
    top: 10px;
    left: 100px;
    overflow: hidden;
}

.button-messages {
    left: 120px;
}

.button-subscriptions {
    left: 140px;
}

.heaven-button-anim-1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 2px;
    background: rgb(219, 219, 219);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.heaven-button-anim-1:hover::after {
    width: 100%;
    left: 0;
}

.button-profile {
    top: 3px;
    width: 45px;
    height: 45px;
    float: right;
    left: -10px;
    border-radius: 10px;
}

.registration-button {
    top: 7px;
    color: rgba(236, 236, 236, 0.842);
    float: right;
    left: -20px;
    border-radius: 10px;
}

.login-button {
    top: 7px;
    color: rgba(236, 236, 236, 0.842);
    float: right;
    left: -10px;
    border-radius: 10px;
}

.registration-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: 9999;
    background-color: red;
    justify-content: center;
    align-items: center;
}
/* heaven */

/* earth */
.earth {
    top: 33px;
    position: absolute;
    min-height: calc(100vh - 33px);
    width: 1200px;
    margin: 0 auto;
    background-color: rebeccapurple;
}

.send-form{
    position: fixed;
    width: 1200px;
    height: 40px;
    background-color: red;
    bottom: 0;
}

.send-message{
    width: 20px;
    height: 20px;
}

ul #dialogs{
    position: relative;
    min-height: calc(100vh - 20px);
}

.page-fixer{
    min-height: 40px;
    width: 100%;
}
/* earth */